@{
    ViewBag.Title = "Lista de Usuario";
}
<div>
    nombre :
    <input type="text" name="name" value=" " />
    Nit :
    <input type="text" name="name" value=" " />
    Descripcion :
    <input type="text" name="name" value=" " />

    <h3>Usuarios</h3>
    <table id="tblUsuarios">

        <td>Nr.</td>
        <td>Nombre.</td>
        <td>Apellido.</td>
        <td>Login.</td>
        <td>Password.</td>
        <td>Cargo.</td>
        <td>Opcion.</td>

    </table>
    @*   <div>
            <input type="button" value="Vender" />
        </div>*@
</div>
@*<div>

        <table>
            <th>
                <td>Nr.</td>
                <td>Nombre.</td>
                <td>Precio.</td>
                <td></td>
            </th>
            <tr>
                <td>1</td>
                <td>peras</td>
                <td>25</td>
                <td>
                    <input type="button" name="name" value="agregar" /></td>
            </tr>
        </table>
    </div>*@



<style>
    td {
        width: 138px;
        border-color: green;
    }
</style>


<script>
    cargarUsuarios();

    function cargarUsuarios() {
        debugger;
        $.ajax({
            url: '/Home/ObtenerUsuarios',
            type: 'GET',
            data: null,
            success: function (data) {
                debugger;
                cargarTablaUsuarios(data);
            }
        });
    }

    //<tr>
    //          <td>1</td>
    //          <td>peras</td>
    //          <td>2</td>
    //          <td>
    //              <input type="button" name="name" value="Elminar" /></td>
    //      </tr>

    function cargarTablaUsuarios(usuarios) {
        for (var i = 0; i < usuarios.length; i++) {
            var fila = '<tr><td>' + i
                + '</td><td>' + usuarios[i].nombre
                + '</td><td>' +  usuarios[i].apellido
                + '</td><td>' + usuarios[i].login
                + '</td><td>' + usuarios[i].password
                + '</td><td>' + usuarios[i].cargo[0].cargo
                + '</td><td><input type="button" name="name" value="Modificar" /></td></tr>';
            $('#tblUsuarios').append(fila);
        }
    }

</script>